@page "/cart"
@inject NavigationManager NavigationManager
@using ShoppingCart.Data
@using ShoppingCart.Services
@inject CartService CartService
@inject ItemService ItemService

<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="background-color:#797777; color:#090909">
            @{
                foreach (var itemInCart in CartService.Cart)
                {
                    var item = ItemService.Items.Where(id => id.Id == itemInCart.ItemId).SingleOrDefault();
                    var amount = item.Price * itemInCart.Quantity;
                    <tr>
                        <td>@item.Name</td>

                        <td>
                            @itemInCart.Quantity
                        </td>
                        <td>@item.Price</td>
                        <td>@amount</td>
                        <td>
                            <button type="button" @onclick="@(() => RemoveItemFromCart(itemInCart))"
                                    class="btn btn-primary btn-sm m-0 waves-effect">
                                Remove from cart
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <table class="table" style="width:50%">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Order:</th>
                <th>Total Amount:</th>
            </tr>
        </thead>

        <tbody style="background-color:#797777; color:#090909">
            <tr>
                <td>@random.Next(10000, 99999)</td>
                @{
                    decimal totalCost = 0;

                    foreach (var itemInCart in CartService.Cart)
                    {
                        var item = ItemService.Items.Where(id => id.Id == itemInCart.ItemId).SingleOrDefault();
                        totalCost += itemInCart.Quantity * item.Price;
                    }

                    <td>@totalCost</td>
                }
            </tr>
        </tbody>
    </table>

    <a type="button" @onclick="@ConfirmOrder" class="btn btn-primary">Checkout</a>
</div>

@code
{
    private Random random = new Random();
    private void RemoveItemFromCart(ItemGroup removeItem)
    {
        CartService.Cart.Remove(removeItem);
    }

    private void ConfirmOrder()
    {
        NavigationManager.NavigateTo("checkout");
        CartService.Cart.Clear();

    }

}